/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Wildcard to apply some basic styles to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

body {
    font-family: "ABeeZee", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #191970;
}


/* Header */
#header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

#header div {
    padding: 2px;
    /* max-height: 79px; */
}

#logo {
    /* flex-basis: 66%; */
    color: inherit;
    align-self: flex-start;
    line-height: 75px;
}

#logo a {
    text-decoration: none;
}

/* #nav {
    flex-basis: 33%;
    align-self: flex-end;
} */

#nav2 {
    text-decoration: none;
    padding-right: 5px;
    flex-wrap: wrap;
    color: inherit;
    line-height: 75px;
    }

nav ul {
    padding-left: 3px;
    list-style-type: none;
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
}

#nav2 li {
    display: inline;
    padding: 2px;
    text-decoration: none;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 1px solid #191970;
}

/* To show where user hovers over a nav link */
.active:hover {
        border-bottom: 1px solid;
    }



/* Main */

/* Headings section */

    #headings-section {
    width: 100%;
    height: 600px;
    background: url("../images/pool-water-light.jpg") no-repeat center center / cover;
    margin-top: 79x;
    padding: 75px;
    align-content: center;
}

#headlines {
    background-color: rgba(230, 240, 240, .75);
    border: 1px solid;
    text-align: center;
    /* padding 50px; */
    radius: 25%;
}

#headlines h2, h3 {
    padding-top: 30px;
    letter-spacing: 3px;
}
#headlines h3 {
    padding-bottom: 30px;
}

/* Images in Headings Section */

#home-page-images {
    flow-flow: row wrap;
}


/* Footer */
footer {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Media query for mobile phones */
@media screen and (max-width: 480px) {
    #nav2 {
        font-size: 25%;
        line-height: 25px;
    }
   #logo {
    line-height: 25px;
   }
}
