/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Wildcard to apply some basic styles to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "ABeeZee", sans-serif;
    color: rgb(29, 10, 138);
    /* display: flex;
    flex-direction: column; */
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    text-transform: uppercase;
}

p {
    padding-bottom: 1rem;
}

/* Header */
header { 
    background-color: #ffffff;
    color: rgb(42, 7, 245);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#navul li {
    padding-right: 20px;
}

#logo {
    /* font-family: "ABeeZee", sans-serif; */
    text-transform: none;
    padding: 0.5rem
}

header a {
    text-decoration: none;
    /* Taken from Love Running unit */
    color: inherit;
}

nav ul {
    padding: 0 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
}

/* To show where user hovers over a nav link */
.active:hover {
    border-bottom: 1px solid;
}
nav a:hover {
    border-bottom: 1px solid #191970;
}

#navul li {
    padding-left: 3px;
    text-decoration: none;
}

/* Main */

main {
    margin-top: 55px;
}

/* .section {
    margin-top: 27px;
} */
/* Hero Section */

#container-hero-section {
    background: url("../images/pool-water.jpg");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-top:20px;
    padding-bottom: 20px;
}

.hero-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

#headline-and-tag {
    text-align: center;
    font-size: 110%;
    letter-spacing: 2px;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.hero-text h3 {
    background-color: rgba(152, 223, 245, 0.6);
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

/* Why learn section */
#whylearn {
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Lessons and Contact */

.section-text {
    border: 1px solid;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.pwithpadding {
    padding-top: 2rem;
}

.section {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* #about {
    background-image: url(assets/images/embrace-diffs.jpg);
    width: 100%
    height: auto;
} */

.color-div {
    background-color: rgb(152, 223, 245);
    text-align: center;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

.section h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

#special {
    font-size: 150%;
    text-align: center;
    padding-bottom: 20px;
}

section h4 {
    padding: 10px;
}

/* table */
/* from mdn web docs */
.table {
    padding-top: 20px;
    margin: auto;
}
.table p {
    text-align: center;
}
/* Table centering from https://www.geeksforgeeks.org/how-to-center-a-table-with-css/ */
table {
    margin: auto;
}
.table p {
    padding-top: 10px;
}
caption {
    padding-bottom: 10px;
}
table {
    table-layout: fixed;
    width: 300px;
    border: 1px solid rgb(29, 10, 138); 
}
td {
    text-align: center;
    border: 1px solid rgb(29, 10, 138);
    padding: 0.5rem;
}

tr {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.accom div {
    padding-left: 30px;
}

.main-ul {
    list-style: disc;
    padding-left: 20px;
}

.accomm-ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}




/* Contact Form */

#contact-form {
    width: 100%;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

.info-entry-line {
    padding: 10px;
}

.form-info-input {
    width: 100%;
    min-height: 100px;
}

.button {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    /* Box Shadow from getcssscan.com */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* Footer */
#footer {
    background-color: rgb(152, 223, 245);
    width: 100%;
    bottom: 0;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

    .socmedicon {
        padding: 20px;
    }

    .hero-img {     
        /* align-self: center;
        justify-content: center; */
        }

@media screen and (max-width: 480px) {
    main {
        margin-top: 69px;
        }
    #navul {
            font-size: 75%;
        }


}

    /* Media query for tablets and larger */
    @media screen and (min-width: 760px) {
        /* nav {
            display: block;
            position: relative;
            padding-right: 1rem;
            flex-direction: row;
        } */
    }