/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Wildcard to apply some basic styles to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "ABeeZee", sans-serif;
}

h1,
h2 {
    font-family: "Montserrat", sans-serif; 
}

h2 {
    text-transform: uppercase;
}

/* Header */
#header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    max-height: 79px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

#header div {
    max-height: 79px;
}

#logo {
    color: inherit;
}

#logo h1 {
    font-family: "ABeeZee", sans-serif;
    text-transform: none;
    line-height: 75px;
}

#logo a {
    text-decoration: none;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 1px solid #191970;
}
#nav2 {
    text-decoration: none;
    padding-right: 5px;
    flex-wrap: wrap;
    color: inherit;
    line-height: 75px;
    }

nav ul {
    padding-left: 3px;
    list-style-type: none;
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
}

#nav2 li {
    display: inline;
    padding: 2px;
    text-decoration: none;
}

/* To show where user hovers over a nav link */
.active:hover {
    border-bottom: 1px solid;
    }

/* Main */

/* Heading and tagline */

#headings-section {
width: 100%;
background-color: rgb(152, 223, 245);
position: relative;
}

#headlines {
    border: 1px solid;
    text-align: center;
    margin-top: 79px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#headlines h2 {
    letter-spacing: 1px;
    
}

#headlines h3 {rem
    letter-spacing: 1px;
}

/* Hero Section */

#container-hero-section {
    height: 600px;
    background: url("../images/pool-water-light.jpg");
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.hero-text {
    text-align: center;
    font-size: 125%;
    letter-spacing: 2px;
    align-content: center;
}
 
.hero-text h3 {
    background-color: rgba(152, 223, 245, 0.6);
    padding: 1px 2px;
}

/* Lessons and Contact */
.after-hero-sections {
    padding-left: 20px;
    padding-right: 20px;
}

.accommodations {
    padding-left: 30px;
}
    
.section {
    padding-left: 20px;
    padding-right: 20px;
}

.table {
    display: flex;
    justify-content: center;
}

/* Footer */
#footer {
    background-color: rgb(152, 223, 245);
    width: 50%%;
    /* height: auto; */
    bottom: 0;
    padding: 20px;
    margin-top: 15px;
    justify-content: center space-around;
    width: 100vp;
}

#footer-content {
    text-align: center;
}

.socmedicon {
    padding: 1.5rem;
}

/* Classes Page */

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

#classes-main-div {
    background-color: rgba(152, 223, 245, 0.6);
    width: 100%;
    flex: column;
    padding: 20px;
    font-family: Montserrat, sans-serif;
}

#accommodations {
    list-style: circle;
}

.times th, td {
    text-align: left;
}

#hours-head {
    padding-bottom: 2px;
    text-align: left;
}


/* Media query for mobile phones */
@media screen and (max-width: 480px) {
    #nav2 {
        font-size: 25%;
        line-height: 25px;
    }
}
   #logo {
    line-height: 25px;
   }

   .hero-text {
    font-size: 12px;
    


   /* Media query for laptops */
@media screen and (max-width: 1200px) {

}